body
{
  background-color: #E5B696;
}

h2
{
  text-align: center;
  color: #BF987D;
}
header p, section h2, section p
{
  font-family: 'Dancing Script', cursive;

}
header
{
  background-color: #7F6553;
  font-family: cursive;
  display: inline-block;
  width: 94%;
  border-radius: 15px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5px;

}
header p
{
  text-align: center;
  font-family: inherit;
}

section
{
  width: 50%;
  background-color: #40332A;
  border-radius: 10px;

  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 1px;
  position:relative;
  left: 3%;

}
section p
{padding-left: 2%;
  padding-right: 2%;
  font-size: 1.5em;
  color: #FFCAA7;
}
.blocpair
{
  position: relative;
  left: 23%;
}
